@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --font-sans: 'Lato', sans-serif;
  --color-brand-50: #fdf5f0;
  --color-brand-100: #fae8dd;
  --color-brand-200: #f5d0bb;
  --color-brand-300: #eeb399;
  --color-brand-400: #e68a6d;
  --color-brand-500: #d97060;
  --color-brand-600: #c85847;
  --color-brand-700: #a94737;
  --color-brand-800: #8a3a2d;
  --color-brand-900: #6b2e25;
  --color-brand-950: #3d1a14;
}
